<head>
    <link rel="stylesheet" href="css/style.css" />
</head>
<div class="wrapper">
    <nav class="nav-bar ">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="drop-link">
                <a href="#">Sign In</a>
                <ul class="drop-nav " id="pages-nav">
                    <li><a href="/admin-login">Admin</a></li>
                    <li><a href="/restaurant-login">Restaurant</a></li>
                    <li><a href="/ngo-login">NGO</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
