@import url("css-var.css");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* body {
  background-image: url("/food-bg.jpg");
  background-size: 7rem;
} */
/* nav */
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
li {
  list-style: none;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  z-index: var(--nav-index);
  background-color: rgba(255, 255, 255, 0.486);
  padding: 2px 0px;
}
.nav-bar ul {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--sec-color3);
  margin: 0px;
}
.drop-nav {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

body .wrapper nav ul li:focus .drop-nav,
body .wrapper nav ul li:hover .drop-nav {
  opacity: 1;
  visibility: visible;
}
/* nav */
/* hero */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  background-color: var(--prmy-color);
  color: var(--sec-color2);
  padding: 4rem;
  border-top-left-radius: 1rem;
  position: relative;
  bottom: 5rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 10px 10px 20px 10px rgba(65, 63, 63, 0.486);
}
.hero #title {
  font-size: 3rem;
}
.hero-img {
  position: relative;
  top: 5rem;
  right: 3rem;
  z-index: var(--hero-index);
}

.hero .donor {
  background-color: var(--sec-color2);
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
}
.hero .donor a {
  color: var(--prmy-color);
  font-weight: 500;
}
/* hero */
